<div class="col">
    <h1 class="page-header">Meus imóveis</h1>
    <hr>
    <div class="row">
      <div class="col-sm-9 col-md-9 col-lg-12">
        <div class="card card-signin">
          <div class="card-body">
          <h3>Cadastrar</h3>
          <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Imagem</th>
                  <th>Titulo</th>
                  <th>Valor R$</th>
                  <th>Texto</th>
                  <th colspan="3">Ações</th>
                </tr>
                </thead>
                <tbody>
                <% @properties.each do |property| %>
                <tr>
                  <td><%= property.id %></td>
                  <td><%= imageThumb(property)%></td>
                  <td><%= property.title %></td>
                  <td><%= number_to_currency(property.value, unit: "R$", separator: ",", delimiter: "")%></td>
                  <td><%= property.description.gsub("\n", "<br>").html_safe.truncate(40) %></td>
                  <td><%= link_to tag.i(class: 'fa fa-eye'), "/site/#{property.id}", target: "_blank" %> </td>
                  <td><%= link_to tag.i(class: 'fa fa-edit'), edit_property_path(property) %></td>
                  <td><%= link_to tag.i(class: 'fa fa-trash'), property, method: :delete, data: { confirm: 'Tem certeza em apagar?' } %></td>
                </tr>
                <% end %>
                </tbody>
              </table>
            </div>              
            </div>
        </div>
      </div>     
    </div>
</div>