<section id="cover">
  <div id="cover-caption">
    <div id="container" class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">

            <%= form_for(resource, :html => {:class => "form-signin"}, url: registration_path(resource_name)) do |f| %>
            <h3 class="text-center text-secondary">Cadastrar</h3>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label "Nome completo", class: "text-secondary" %><br />
              <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", :required => true %>
            </div>

            <div class="form-group">
              <%= f.label "E-mail", class: "text-secondary" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", :required => true %>
            </div>

            <div class="form-group">
              <%= f.label "Senha", class: "text-secondary" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control", :required => true  %>
            </div>

            <div class="form-group">
              <%= f.label "Confirmar Senha", class: "text-secondary" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", :required => true  %>
            </div>
            <div class="form-group">
              <%= f.submit "Cadastrar", class: "btn btn-primary btn-md" %>
              <%= link_to "Login".html_safe, new_user_session_path,  :class=>"btn btn-secondary btn-md" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>